@media screen and (max-width:676px) {

    .nav-head {
        flex-direction: column;
        margin-left: 50px;
        margin-bottom: 15px;
    }

    .items-container {
        flex-direction: column;
        margin-left: 50px;
        gap: 15px;
    }
    .popular-section {
       flex-direction: column;
    }
    .text-container {   
        width: 100%;
    }
    .popular-img-container {
        width: 100%;
        margin-top: 25px;
    }

}