@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
}

/* nav bar style */
.nav-head {
    width: 80%;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 50%;
}

.logo-container p {
    margin-left: 15px;
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.logo-container span {
    color: #FF5400;
}

.items-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items-container a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    font-weight: 600;
}

.items-container a span {
    color: #FF5400;
}

/* nav bar style end */


/* banner section start */

.banner-section {
    background-image: url(./images/Group\ 13\ \(1\)\ \(1\).png);
    min-height: 500px;
    max-width: 80%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin-top: 60px;
}

.banner-text {
    text-align: center;

}

.banner-text h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 105px;

}

.banner-text p {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 25px;

}


.icon-design {
    padding: 16px 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

/* banner section end */



/* popular section start */
.popular-section {
    max-width: 80%;
    margin: 0 auto;
    min-height: 550px;

    display: flex;
    margin-top: 100px;
}

.text-container {
    letter-spacing: 1px;
    line-height: 100px;
    width: 50%;

}

.popular-img-container {

    width: 50%;
}

.popular-img-container img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    align-items: center;
    border-radius: 16px;

}

.text-container h1 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.text-container p {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;
}

ul {
    margin-left: 25px;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 24px;

}

.popular-btn {
    color: #FFF;
    font-size: 20px;

    padding: 14px 35px;
    border-radius: 8px;
    background: #FF5400;
}

.destination-content h1 {
    text-align: center;
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 25px;

}

.destination-content p {
    text-align: center;
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 50px;
}

.iamge-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
}

.top-left-image img {
    position: relative;
    width: 90%;
    height: 300px;
}

.top-left-image h2 {
    position: absolute;
    margin-left: 304px;
    margin-top: 138px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}
.top-right-image img{
    position: relative;
    width: 90%;
    height: 300px;

    
    
}
.top-right-image h2{
    position: absolute;
    margin-left: 310px;
    margin-top: 142px;
    z-index: 8;
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: 800;
}
